name: Release Pipeline

on:
  push:
    branches:
      - develop
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 12.16.3

    - name: prepare
      run: npm install @semantic-release/gitlab @semantic-release/exec conventional-changelog-conventionalcommits
      
    - name: release
      run: npx semantic-release
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
